html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.fade-enter {
  opacity: 0;
  z-index: 1;
  transition: opacity 700ms ease-in; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in; }

h1, p, a {
  font-family: 'proxima-nova', sans-serif; }

.para-md-width {
  max-width: 600px; }

.text-center {
  text-align: center; }

.h1-header {
  color: #282120;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 1.1em; }
  .h1-header--blue {
    color: #282120; }

.h3-header {
  color: #282120;
  font-size: 1.25em; }

.para {
  color: #282120;
  font-size: 1.1em;
  line-height: 1.25em;
  margin-bottom: 20px; }

@media only screen and (max-width: 500px) {
  .h1-header {
    font-size: 1.5em; } }

@media only screen and (max-width: 300px) {
  .para, .h1-header {
    text-align: center; } }